<div class="row paddedleft paddedtop">
    <div class="col-sm-6 col-md-6">
        <div class="list-group">
            <a class="list-group-item" href="#/importoffice" has-permission='READ_PERMISSION'>
                <h4 class="list-group-item-heading"><i class="icon-gears icon-large"></i>&nbsp;&nbsp;{{'label.anchor.officeimporting'
                    | translate}}</h4>

                <p class="list-group-item-text">{{'label.officeimportdescription' |
                    translate}}</p>
            </a>
            <a class="list-group-item" href="#/importuser" has-permission='READ_PERMISSION'>
                <h4 class="list-group-item-heading"><i class="icon-gears icon-large"></i>&nbsp;&nbsp;{{'label.anchor.userimporting'
                    | translate}}</h4>

                <p class="list-group-item-text">{{'label.userimportdescription' | translate}}</p>
            </a>
            <a class="list-group-item" href="#/importgroup" has-permission='READ_PERMISSION'>
                <h4 class="list-group-item-heading"><i class="icon-gears icon-large"></i>&nbsp;&nbsp;{{'label.anchor.groupimporting'
                    | translate}}</h4>

                <p class="list-group-item-text">{{'label.groupimportdescription' | translate}}</p>
            </a>
            <a class="list-group-item" href="#/importcenter" has-permission='READ_PERMISSION'>
                <h4 class="list-group-item-heading"><i class="icon-gears icon-large"></i>&nbsp;&nbsp;{{'label.anchor.centerimporting'
                    | translate}}</h4>

                <p class="list-group-item-text">{{'label.centerimportdescription' | translate}}</p>
            </a>
			<a class="list-group-item" href="#/importloan" has-permission='READ_PERMISSION'>
                <h4 class="list-group-item-heading"><i class="icon-gears icon-large"></i>&nbsp;&nbsp;{{'label.anchor.loanimporting'
                    | translate}}</h4>

                <p class="list-group-item-text">{{'label.loanimportdescription' | translate}}</p>
            </a>
			<a class="list-group-item" href="#/importloan" has-permission='READ_PERMISSION'>
                <h4 class="list-group-item-heading"><i class="icon-gears icon-large"></i>&nbsp;&nbsp;{{'label.anchor.loanrepaymentimporting'
                    | translate}}</h4>

                <p class="list-group-item-text">{{'label.loanrepaymentimportdescription' | translate}}</p>
            </a>
			<a class="list-group-item" href="#/importdatatable" has-permission='READ_PERMISSION'>
                <h4 class="list-group-item-heading"><i class="icon-gears icon-large"></i>&nbsp;&nbsp;{{'label.anchor.datatableimporting'
                    | translate}}</h4>

                <p class="list-group-item-text">{{'label.datatableimportdescription' | translate}}</p>
            </a>
        </div>
    </div>
    <div class="col-sm-6 col-md-6">
        <div class="list-group">
            <a class="list-group-item" href="#/importstaff" has-permission='READ_PERMISSION'>
                <h4 class="list-group-item-heading"><i class="icon-large icon-gears"></i>&nbsp;&nbsp;{{'label.anchor.staffimporting'
                    | translate}}</h4>

                <p class="list-group-item-text">{{'label.staffimportdescription' | translate}}</p>
            </a>
            <a class="list-group-item" href="#/importclient" has-permission='READ_PERMISSION'>
                <h4 class="list-group-item-heading"><i class="icon-large icon-gears"></i>&nbsp;&nbsp;{{'label.anchor.clientimporting'
                    | translate}}</h4>

                <p class="list-group-item-text">{{'label.clientimportdescription' | translate}}</p>
            </a>
            <a class="list-group-item" href="#/importsaving" has-permission='READ_PERMISSION'>
                <h4 class="list-group-item-heading"><i class="icon-large icon-gears"></i>&nbsp;&nbsp;{{'label.anchor.savingimporting'
                    | translate}}</h4>

                <p class="list-group-item-text">{{'label.savingimportdescription' | translate}}</p>
            </a>
            <a class="list-group-item" href="#/importsaving" has-permission='READ_PERMISSION'>
                <h4 class="list-group-item-heading"><i class="icon-large icon-gears"></i>&nbsp;&nbsp;{{'label.anchor.savingtransactionimporting'
                    | translate}}</h4>

                <p class="list-group-item-text">{{'label.savingtransactionimportdescription' | translate}}</p>
            </a>
			<a class="list-group-item" href="#/importcode" has-permission='READ_PERMISSION'>
                <h4 class="list-group-item-heading"><i class="icon-large icon-gears"></i>&nbsp;&nbsp;{{'label.anchor.codeimporting'
                    | translate}}</h4>

                <p class="list-group-item-text">{{'label.codeimportdescription' | translate}}</p>
            </a>
			<a class="list-group-item" href="#/importchartofaccount" has-permission='READ_PERMISSION'>
                <h4 class="list-group-item-heading"><i class="icon-large icon-gears"></i>&nbsp;&nbsp;{{'label.anchor.chartofaccountimportingshort'
                    | translate}}</h4>

                <p class="list-group-item-text">{{'label.chartofaccountimportdescription' | translate}}</p>
            </a>
        </div>
    </div>
</div>