<div class="col-md-12">
    <ul class="breadcrumb">
        <li><a href="#/clients">{{'label.anchor.clients' | translate}}</a></li>
        <li class="active">Import Clients</li>
    </ul>
    <div name="ImportClient" ng-controller="ImportClientController">
    
	    <form name="getTemplateForm" novalidate="" class="form-horizontal well" rc-submit="getClientTemplate()">
		    <api-validate></api-validate>
		    <fieldset>
		        <legend>Get Template</legend>
		        <div class="form-group">
		        
					<br>
					
		            <label class="control-label col-sm-2">Client Type<span class="required">*</span></label>
		
		            <div class="col-sm-3">
		                <select ng-model="clientType"  class="form-control" ngRequired 
		                        ng-options="clientTypeOption.name for clientTypeOption in clientTypeOptions" value="clientType"></select>
		            </div>
		            
		            clientType = {{clientType}} <br>
		            {{clientType.index}}
		        </div>
		        <div class="col-md-offset-5">
		            <button id="btnGetTemplate" type="submit" class="btn btn-primary" has-permission='CREATE_CLIENT'>Get Template</button>
		        </div>
		    </fieldset>
		</form>
		
		<form name="importClientForm" novalidate="" class="form-horizontal well" rc-submit="importClients()">
		    <api-validate></api-validate>
		    <fieldset>
		        <legend>Import Clients</legend>
		        <div class="form-group">
				
					<br>
					
		            <label class="control-label col-sm-2">Client Type<span class="required">*</span></label>
		
		            <div class="col-sm-3">
		                <input ng-model="excelFile"  class="form-control" type="file" name="inputExcelFile"></input>
		            </div>
		            
		        </div>
		        <div class="col-md-offset-5">
		            <button id="btnGetTemplate" type="submit" class="btn btn-primary" has-permission='CREATE_CLIENT'>Submit Excel File</button>
		        </div>
		    </fieldset>
		</form>

		<div class="col-md-offset-5">
			<a id="cancel" href="#/clients">
				<button type="reset" class="btn btn-default">{{'label.button.cancel'| translate}}</button>
			</a>
		</div>

	</div>
</div>
